body {
    font-family: Arial, sans-serif;
   }
   
   .TopHeader {
       width: 100%;
       height: 675px;
       background-image: url(../Hero\ Section.png);
       background-size:100% 100%;
       background-repeat: no-repeat;
   }
   
   .navbar {
    display: flex;
    padding: 10px;
   }
   
   .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 16px 20px;
    text-decoration: none;
   }
   
   .navbar a:hover::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    bottom: 20px;
    background-color: white;
   }
   
   .navbar-button {
    float: right;
    background-color: #000000;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
   }
   
   .navbar-button:hover {
    background-color: #ddd;
    color: black;
   }
   
   .started {
    background-color: #000000;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
   }
   
   .started:hover {
    background-color: #ddd;
    color: black;
   }
   
   .container {
    display: flex;
   }
   
   .left-side {
    flex: 50%;
    padding: 10px;
   }
   
   .right-side {
    flex: 50%;
    padding: 10px;
   }
   
   .kuy {
       background: url(../Check.png) no-repeat left ;
       height: 30px;
       padding-left: 40px;
       margin: 10px;
       font-size: 12px;
   }
   
   .updates input[type=text] {
    padding: 8px;
    font-size: 14px;
    border: none;
    width: 100%;
   }
   
   .btn {
    background: url(../Icon.png) no-repeat;
    padding: 20px;
    margin-top: 8px;
    position: absolute;
    right: 0;
   }
   
   .footer {
       padding: 10px;
       margin: 10px 0px;
       text-align: center;
       font-size: 13px;
   }
